/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.5;
    font-family: 'Noto Serif SC', serif;
    font-size: 10px;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
    width: 1100px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
p{
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  */
header{
    /* background-color: #0c0c1f; */
    background-color: #151527;
    color: white;
    padding-bottom: 20px;
    
}
.header p{
    font-size: 12px;
    
}
h1,h3{
    font-size: 24px;
    padding-top: 20px;
    font-weight: 700;
    color: white;
}
.col2{
    color: green;
}
.col2 span{
    padding-right: 10px;
    color: white;
}
/* .col2{
    margin-top: 20px;
} */
/* hero */
.hero{
    background-color: #151527;
}
.box{
    background-color: #24243c;
    display: inline-block;
    margin-top: 20px;
    flex: 0 1 18%;
    padding: 10px 20px;
    height: 100px;
    position: relative;
}
.box a{
    text-decoration: none;
    font-size: 10px;
}
.box a span{
    color: white;
    font-size: 8px;
    padding-left:5px ;
}


h2{
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}
.box1, .box2{
    border-top: 6px solid blue;
    color: white;
    
    margin-bottom: -75px;
    height: 150px;

}
.box3{
    border-top: 6px solid hotpink;
    
    color: white;
    margin-bottom: -75px;
    height: 150px;
    
}
.box4{
    border-top: 6px solid red;
    
    color: white;
    height: 150px;
    margin-bottom: -75px;
}
/* section1 */
.section1{
    background-color:#0c0c1f ;
    padding-top: 100px;
    padding-bottom: 100px;

}
.small-box{
    background-color: #24243c;
    height: 100px;
    width: 18%;
}
/*  */
.top-left{
    position: absolute;
    top: 20px;
    left:20p;
    color: white;
    font-size: 10px;
}
.top-right{
    position: absolute;
    top: 20px;
    right: 30px;
    

}
.bottom-left{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: 700;

}
.bottom-right{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(67, 179, 67);
    font-size: 10px;
}
/* socail media */
.insta{
    color: rgb(173, 38, 78);
}
.snapchat{
    color: rgb(165, 165, 30);
    
}
.down{
    color: red;
}
.top{
    position: absolute;
   
    left: 40%;
    
}
.up{
    position: absolute;
    bottom: 30px;
    left: 40%;
    color: rgb(67, 179, 67);
}
.down1{
    color: red;
    position: absolute;
    bottom: 30px;
    left: 40%;
}
 .span{
    font-family: 'Montserrat', sans-serif;
    
} 
.article2{
    padding-top: 20px;
}